<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/app.css">

</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <a class="navbar-brand" href="/">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item ml-auto float-right">
            <a class="nav-link active" href="/signin">Đăng nhập</a>
          </li>
          <li class="nav-item float-right">
            <a class="nav-link active" href="/signup">Đăng ký</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
</body>
</html>
